<%= stylesheet_link_tag "inside/azarashi.css", :media => "screen" %>
<h1>持っている本</h1>
<div align="right">
<%= link_to "本の追加", new_book_path, :class => "btn btn-primary button" %>
</div>
<hr>

<%= form_tag({:controller => "books", :action => "search"}) do %>
検索条件: <%= text_field_tag "search_cond" %>
<%= submit_tag "検索" %>
<% end %>

<% if @books.any? %>
<table class="table table-bordered table-hover">
  <thead>
    <tr class="info">
       <th class="table_tag">表紙</th>
       <th class="table_tag">タイトル</th>
       <th class="table_tag">著者</th>
       <th class="table_tag">出版者</th>
       <th class="table_tag">本の場所</th>
       <th class="table_tag">いろいろ</th>
    </tr>
  </thead>
  <tbody class="shiro">
      <%#= link_to book_path(b.id), class: "btn btn-info" do %>
      <% @books.each do |b| %>
      <tr>
        <td><%= image_tag b.image %></td>
        <td><%= b.title %></td>
        <td><%= b.author %></td>
        <td><%= b.manufacturer %></td>
        <td width="230" align="center">
          <% if b.Rental_id.nil? %>
            <%= b.book_code %>
          <% else %>
            貸出中
          <% end %>
        </td>
        <td width="230" align="center">
          <div class="btn-group">
            <%= link_to 'Show', book_path(b.id), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_book_path(b.id), class: "btn btn-success" %>
            <%= link_to 'Rental', new_rental_path(b.id), class: "btn btn-warning" %>
            <%= link_to 'Destroy', book_path(b.id), method: :delete, data: { confirm: "削除してもよろしいですか？" }, :class => "btn btn-danger" %>
          </div>
        </td>
      <%# each do のおわり %>
      </tr>
      <% end %>
      <%# link_toのおわり %>
      <%# end %>
  </tbody>
</table>
<% else %>
  <h4>No data yet.</h4>
<% end %>
