<%= stylesheet_link_tag "inside/kuma.css", :media => "screen" %>
<h1>本の追加</h1>

<%= bootstrap_form_for(@book) do |f| %>
  <%= f.text_field :isbn %>
  <input class="btn btn-danger" type="button" id="info_search_button" value="検索">
  <hr>
  <%= f.text_field :title, label: "タイトル" %>
  <%= f.text_field :author, label: "著者"  %>
  <%= f.text_field :manufacturer, label: "出版社"  %>
  <%= f.text_field :publication_date, label: "出版日"  %>
  <%= f.text_field :book_code, label: "本の場所"  %>
  <%= f.primary "本を追加" %>
<% end %>