<%= stylesheet_link_tag "inside/risu.css", :media => "screen" %>

<h1>"<%= @cond -%>"を含む検索結果</h1>
 
<table class="table table-bordered table-hover">
  <thead>
    <tr class="info">
       <th class="table_tag">表紙</th>
       <th class="table_tag">タイトル</th>
       <th class="table_tag">著者</th>
       <th class="table_tag">出版者</th>
       <th class="table_tag">場所</th>
       <th class="table_tag">いろいろ</th>
    </tr>
  </thead>

   <tbody class="shiro">
      <%#= link_to book_path(b.id), class: "btn btn-info" do %>
      <% @books.each do |b| %>
      <tr>
        <td><%= image_tag b.image %></td>
        <td><%= b.title %></td>
        <td><%= b.author %></td>
        <td><%= b.manufacturer %></td>
        <td width="230" align="center">
          <% if b.Rental_id.nil? %>
            <%= b.book_code %>
          <% else %>
            貸出中
          <% end %>
        </td>
        <td width="230" align="center">
          <div class="btn-group">
            <%= link_to 'Show', book_path(b.id), class: "btn btn-info" %>
            <%= link_to 'Edit', edit_book_path(b.id), class: "btn btn-success" %>
            <%= link_to 'Rental', new_rental_path(b.id), class: "btn btn-warning" %>
            <%= link_to 'Destroy', book_path(b.id), method: :delete, data: { confirm: "削除してもよろしいですか？" }, :class => "btn btn-danger" %>
          </div>
        </td>
      <%# each do のおわり %>
      </tr>
      <% end %>
      <%# link_toのおわり %>
      <%# end %>
  </tbody>
</table>
